In [1]:
import pandas as pd
import matplotlib as plt

In [7]:
cols = ['x1','x2','x3','x4','class','binary','t1','t2','t3','t4','bias','target','sigmoid','prediction','error','dt1','dt2','dt3','dt4','dbias']
df_training = pd.read_csv("C:/Users/aftermath/Documents/Machine Learning/tugas2/iris.data", header=None, names=cols)
df_training.head(100)

df_training = df_training.head(100)
df_training.head()

,x1,x2,x3,x4,class,binary,t1,t2,t3,t4,bias,target,sigmoid,prediction,error,dt1,dt2,dt3,dt4,dbias
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_k1 = df_training.iloc[0:80]
df_k1_validation = df_training.iloc[80:100]

df_k2 = df_training.iloc[0:60]
df_k2 = df_k2.append(df_training.iloc[80:100],ignore_index=True, sort=False)
df_k2_validation = df_training.iloc[60:80]

df_k3 = df_training.iloc[0:40]
df_k3 = df_k3.append(df_training.iloc[60:100],ignore_index=True, sort=False)
df_k3_validation = df_training.iloc[40:60]

df_k4 = df_training.iloc[0:20]
df_k4 = df_k4.append(df_training.iloc[40:100],ignore_index=True, sort=False)
df_k4_validation = df_training.iloc[20:40]

df_k5 = df_training.iloc[20:100]
df_k5_validation = df_training.iloc[0:20]

In [14]:
df_k1.at[0,'t1']=0.5
df_k1.at[0,'t2']=0.5
df_k1.at[0,'t3']=0.5
df_k1.at[0,'t4']=0.5
df_k1.at[0,'t5']=0.5
df_k1.at[0,'bias']=0.5

df_k2.at[0,'t1']=0.5
df_k2.at[0,'t2']=0.5
df_k2.at[0,'t3']=0.5
df_k2.at[0,'t4']=0.5
df_k2.at[0,'t5']=0.5
df_k2.at[0,'bias']=0.5

df_k3.at[0,'t1']=0.5
df_k3.at[0,'t2']=0.5
df_k3.at[0,'t3']=0.5
df_k3.at[0,'t4']=0.5
df_k3.at[0,'t5']=0.5
df_k3.at[0,'bias']=0.5

df_k4.at[0,'t1']=0.5
df_k4.at[0,'t2']=0.5
df_k4.at[0,'t3']=0.5
df_k4.at[0,'t4']=0.5
df_k4.at[0,'t5']=0.5
df_k4.at[0,'bias']=0.5

df_k5.at[0,'t1']=0.5
df_k5.at[0,'t2']=0.5
df_k5.at[0,'t3']=0.5
df_k5.at[0,'t4']=0.5
df_k5.at[0,'t5']=0.5
df_k5.at[0,'bias']=0.5

,x1,x2,x3,x4,class,binary,t1,t2,t3,t4,...,prediction,error,dt1,dt2,dt3,dt4,dbias,0,0,t5
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,0.5,0.5,0.5,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN